/* mfd-Icons */
@import url("mfd-icons.css");
/* Ende mfd-Icons */

/* mdi-Icons */
@import url("mdi-icons.css");
/* Ende mdi-Icons */

.hidden {
  display: none !important;
}
.vishidden,
.noIcon {
  visibility: hidden !important;
}
.overlay.notconnected {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 11, 11, 0.7);
  color: #fff;
  z-index: 9999;
}
.overlay.connected {
  display: none;
}

.overlay.inner {
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
  padding-left: 50px;
  padding-top: 50px;
}

@media (max-width: 900px) {
  ons-row {
    flex-direction: column;
  }
}
ons-col {
  min-width: 50%;
  border-left: 1px solid #5c5c5c;
}

.list-header {
  font-size: 8px !important;
  min-height: 12px !important;
  line-height: 12px !important;
  color: var(--text-color);
  background: var(--list-header-background-color);
}

.timestamp .lastupdate,
.timestamp.list-header {
  font-size: 8px !important;
  min-height: 12px !important;
  line-height: 12px !important;
  color: #ccc !important;
}

.list-item {
  min-height: 55px;
}

.button.modalCloseButton {
  margin: auto;
  padding: 0;
  padding-left: 5px;
}
.button.modalCloseButton i {
  height: 40px;
  width: 40px;
  line-height: 38px;
  color: #fff;
  margin: auto;
  font-size: 32px;
}

.modal__content {
  background: rgba(0, 0, 0, 0.2) !important;
  padding: 50px !important;
}

.fab--mini {
  background: var(--fab-background-color) !important;
}

.fab--mini--icon {
  color: var(--fab-text-color);
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 23px;
  margin-bottom: 20px;
  vertical-align: middle;
}

.titletext {
  padding-top: 5px;
  display: inline-block;
}

/* .titleIcon .titletext {
  margin-left: 55px;
} */

.notitleIcon .titletext {
  margin-left: 0px;
}

.title.center {
  justify-content: center;
}

.title .titleIcon {
  float: left;
  position: relative;
} 

.notitleIcon .titleIcon {
  display: none;
}






.list-item,
.list-item__center,
.list-item__left,
.list-item__right {
  border-bottom: 1px solid var(--material-list-item-separator-color);
  background-image: none !important;
}

/* start grid styles */

.gridBox,
.gridBox .list,
.gridBox .list-item,
.gridBox .col,
.gridBox .list-item__center,
.gridBox .list-item__left,
.gridBox .list-item__right,
.gridBox ons-col {
  border: none;
  background-image: none !important;
}

.gridBox {
  background-color: var(--list-background-color);
}

.gridBox.borderTop {
  border-top: 1px solid var(--list-item-separator-color);
}
.gridBox.borderRight {
  border-right: 1px solid var(--list-item-separator-color);
}
.gridBox.borderBottom {
  border-bottom: 1px solid var(--list-item-separator-color);
}
.gridBox.borderLeft {
  border-left: 1px solid var(--list-item-separator-color);
}

.gridBox ons-list.list {
  width: 100%;
  height: 100%;
}

ons-modal ons-list.list,
.banner.list {
  height: auto;
}

.banner .list-item,
.banner .center {
  min-height: 0px;
  padding: 0;
  margin: 0;
}

ons-modal .iconbar {
  background: transparent;
}

ons-card .gridBox {
  background: transparent;
}

/* end grid styles */

.list-header--material {
  padding: 0 !important;
}

.notification {
  background-color: #fe3824 !important;
}

.notification.notification-quiet {
  background-color: #ccc !important;
  color: #000;
}

ons-col.icon-col {
  min-width: 0%;
  border-left: none;
}
ons-col.slider-col {
  min-width: 30%;
  border-left: none;
}

.sliderIconMax {
  min-width: 0%;
  border-left: none;
  width: 40px;
  text-align: center;
  line-height: 31px;
}

.sliderIconMin {
  min-width: 0%;
  border-left: none;
  width: 40px;
  text-align: center;
  line-height: 31px;
}

/* .sliderWidget .list-item__center {
  padding: 4px 6px 0 0;
} */

.range--material__input {
  background-image: linear-gradient(#fff, #fff) !important;
}

.hue-picker {
  width: 50%;
}

.compactColor-picker {
  width: 50%;
}

.colorInput {
  width: 100%;
}

span.chart-col,
span.alarm-col {
  min-width: 100% !important;
}

ons-col.chart-col,
ons-col.alarm-col {
  min-width: 100% !important;
}

.centerWidget {
  position: relative;
  margin: 0 auto;
}

/* start myCard */
.mycard {
  box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.5) !important;
  margin: 15px !important;
}

/* end myCard */

/* start flotoutput */
.flotoutput .list-item {
  padding-left: 2px;
}
.flotoutput .list-item__center {
  padding-top: 2px;
}
/* end flotoutput */

/* start iframeoutput */
.iframeoutput .list-item {
  padding-left: 2px;
}
.iframeoutput .list-item__center {
  padding-top: 2px;
}
/* end iframeoutput */

/* start htmloutput */
.htmloutput .list-item {
  padding-left: 2px;
}
.htmloutput .list-item__center {
  padding-top: 2px;
}
/* end htmloutput */

/* start imgoutput */
/* .imgoutput .list-item {
  padding-left: 2px;
} */
.imgoutput .list-item__center {
  padding-top: 2px;
}
.imgoutput img {
  margin: 0 auto;
}

/* end imgoutput */

/* start imgButton */
.imgButtonCenter {
  margin: auto;
}

.imgButton .button {
  min-height: auto;
  line-height: normal;
}
.imgButton .ripple {
  display: none;
}

/* .imgButton.isEqual .button {
  transform: scale(1);
} */

/* end imgButton */

/* start Switch */
.switchMargin {
  margin: 0 auto;
}
/* end Switch */

/* start Indicator */

.indicatoriconCenter {
  position: relative;
  margin: 0 auto;
  width: 55px;
  height: 55px;
  background: transparent;
}

.indicatoriconCenter.mdi-icon {
  width: 40px;
  height: 40px;
}
/* end Indicator */

/* start valueSwitcher */

.valueSwitcherValue {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 80%;
  line-height: 100%;
}

.valueSwitcherBtnList {
  top: 50%;
  transform: translate(0%, -50%);
}

.valueSwitcherBtnList .center {
  padding: 0;
  margin: 0;
}

.button .valueSwitcherValue {
  color: var(--button-bar-active-text-color);
}

.button--outline .valueSwitcherValue {
  color: var(--text-color);
}

.hell .button--outline .valueSwitcherValue {
  color: #1f1f21;
}

.valueSwitcherBtnList .button[disabled] {
  opacity: 1;
}

/* end valueSwitcher */

/* Start FLOT Iframe */

.iframeoutput.loading {
  visibility: hidden;
}

/* Ende FLOT Iframe */

/* Start TimeSwitch */

.timeSwitchWeekdays {
  font-size: 80%;
  margin-right: 1em;
}

.timeSwitchWeekdays .notification.notification-quiet {
  padding: 0 10px;
}

/* Ende TimeSwitch */

/* Start ColorPicker */

.hue-horizontal div {
  height: 14px !important;
  width: 14px !important;
  margin-top: -1px;
}
/* Ende ColorPicker */

/* Start Alarmsystem */

.alarmtable {
  font-size: 80%;
  border: 1px solid #666666;
  width: 100%;
}

.alarmtable td,
.alarmtable th {
  padding: 0 5px;
}

.alarmtable .titlerow {
  background: var(--highlight-color);
  color: var(--text-color);
}

.alarmtable span {
  display: inline-block;
  width: 100%;
}
.alarmtable .datum,
.alarmtable .uhrzeit {
  border: none;
  float: none;
  border-right: none;
  width: 100%;
}

.alarmtable .uhrzeit {
  font-weight: bold;
}

.alarmtable .mstimegoes,
.alarmtable .mstimecomes,
.alarmtable .mstimequit,
.alarmtable .quitbutton {
  text-align: center;
}

.alarmtable.anstehend .mstimegoes {
  display: none;
}

.alarmtable.anstehend .mstimequit {
  display: none;
}

.alarmtable .varname {
  display: none;
}

.alarmtable .alarmclass {
  text-align: center;
  display: none;
}

.alarmtable .alarmarea {
  text-align: center;
}

.alarmtable tr.quittiert,
.alarmtable .quittiert {
  background: #999999;
  color: black;
}

.alarmtable .class-s {
  background: red;
  color: white;
}

.alarmtable .class-s.quittiert {
  background: #ff6666;
}

.alarmtable .class-w {
  background: yellow;
  color: black;
}

.alarmtable .class-w.quittiert {
  background: #f3f3ae;
}

.alarmtable .button {
  margin: 5px 0px;
}

.alarmtable .rt-td .button {
  margin: 0;
}

.alarmtable .pagination-bottom span {
  display: inline;
  width: auto;
}

.alarmtable .rt-thead .rt-td.-sort-asc,
.alarmtable .rt-thead .rt-th.-sort-asc {
  box-shadow: inset 0 3px 0 0 #ffffff !important;
}
.alarmtable .rt-thead .rt-td.-sort-desc,
.alarmtable .rt-thead .rt-th.-sort-desc {
  box-shadow: inset 0 -3px 0 0 #ffffff !important;
}

.alarmtable .rt-thead .rt-td,
.alarmtable .rt-thead .rt-th {
  background: var(--highlight-color) !important;
  color: var(--button-bar-active-text-color) !important;
  border-right: 1px solid #303030 !important;
}

.alarmtable .rt-tbody .rt-td {
  border-right: 1px solid #303030 !important;
}

/* Ende Alarmsystem */
